## DataFrame 값쓰기

In [1]:
import pandas as pd

In [2]:
ip_df = pd.read_csv('./data/iphone.csv', index_col=0)
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
ip_df.loc['iPhone 8', '메모리']

'2GB'

In [4]:
ip_df.loc['iPhone 8', '메모리'] = '3GB'
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [5]:
ip_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  3GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [6]:
# row, column 다 수정이 가능
#ip_df['디스플레이'] = ['ㄹㄹ','',....]
# ip_df['Face ID'] = 'Yes'  모든 값을 하나로 통일
ip_df['Face ID'] = 'Yes'
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0     Yes
iPhone 8       2017-09-22    4.7  3GB  iOS 10.3     Yes
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0     Yes
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [7]:
#여러줄 바꾸기
ip_df[['디스플레이','메모리']] = 'x'
ip_df

                      출시일 디스플레이 메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x   x  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16     x   x  iOS 10.0     Yes
iPhone 8       2017-09-22     x   x  iOS 10.3     Yes
iPhone 8 Plus  2017-09-22     x   x  iOS 11.0     Yes
iPhone X       2017-11-03     x   x  iOS 11.1     Yes
iPhone XS      2018-09-21     x   x  iOS 12.0     Yes
iPhone XS Max  2018-09-21     x   x  iOS 12.0     Yes

In [8]:
ip_df.iloc[1:3,:]

                      출시일 디스플레이 메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16     x   x  iOS 10.0     Yes
iPhone 8       2017-09-22     x   x  iOS 10.3     Yes

In [9]:
ip_df.iloc[1:3,:] = 'o'

In [10]:
ip_df

                      출시일 디스플레이 메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x   x  iOS 10.0     Yes
iPhone 7 Plus           o     o   o         o       o
iPhone 8                o     o   o         o       o
iPhone 8 Plus  2017-09-22     x   x  iOS 11.0     Yes
iPhone X       2017-11-03     x   x  iOS 11.1     Yes
iPhone XS      2018-09-21     x   x  iOS 12.0     Yes
iPhone XS Max  2018-09-21     x   x  iOS 12.0     Yes

In [11]:
ip_df = pd.read_csv('./data/iphone.csv', index_col=0)
ip_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [12]:
ip_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [13]:
ip_df.loc[ip_df['디스플레이']>5] = 'x'
ip_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           x     x    x         x       x
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           x     x    x         x       x
iPhone X                x     x    x         x       x
iPhone XS               x     x    x         x       x
iPhone XS Max           x     x    x         x       x

In [14]:
## 값 추가 삭제
ip_df = pd.read_csv('./data/iphone.csv', index_col=0)

In [15]:
## 없는 Row 나 column을 넣으면 새로운 정보가 생성된다.
ip_df.loc['samsung'] = ['0305','5.5','6GB','And 10', 'Yes']
ip_df['제조사'] = '?'
ip_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No   ?
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No   ?
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No   ?
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No   ?
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes   ?
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes   ?
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes   ?
samsung              0305   5.5  6GB    And 10     Yes   ?

In [16]:
## 값 삭제
ip_df.drop('samsung', axis='index', inplace=False ) 
# inplace=False 기존의 데이터 프레임을 건드리지 않는다. 계속사용하려면 변수에 저장, 반대는 True

                      출시일 디스플레이  메모리     출시 버전 Face ID 제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No   ?
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No   ?
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No   ?
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No   ?
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes   ?
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes   ?
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes   ?

In [17]:
ip_df

                      출시일 디스플레이  메모리     출시 버전 Face ID 제조사
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No   ?
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No   ?
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No   ?
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No   ?
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes   ?
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes   ?
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes   ?
samsung              0305   5.5  6GB    And 10     Yes   ?

In [18]:
ip_df.drop('제조사', axis='columns', inplace=True)

In [19]:
ip_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes
samsung              0305   5.5  6GB    And 10     Yes

In [20]:
###  여러개 지울때
ip_df.drop(['samsung', 'iPhone 7'], axis='index', inplace=False )

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

### 연습 문제

In [30]:
df = pd.read_csv('data/body_imperial1.csv', index_col=0)
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000             NaN
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
21       0.000000        0.000000

In [40]:
df.iloc[1,1] = 200
df.drop(21, axis='index',inplace=True)
df.loc[20] = [70,200]

In [41]:
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000

### 연습문제 2

In [42]:
df = pd.read_csv('data/body_imperial2.csv', index_col=0)
df

    Gender  Height (Inch)  Weight (Pound)
ID
0      NaN      73.847017      241.893563
1      NaN      70.000000      200.000000
2      NaN      74.110105      212.740856
3      NaN      71.730978      220.042470
4      NaN      69.881796      206.349801
5      NaN      67.253016      152.212156
6      NaN      68.785081      183.927889
7      NaN      68.348516      167.971110
8      NaN      67.018950      175.929440
9      NaN      63.456494      156.399676
10     NaN      71.195382      186.604926
11     NaN      62.636675      102.853563
12     NaN      62.077832      138.691680
13     NaN      60.030434       97.687432
14     NaN      59.098250      110.529686
15     NaN      66.172652      136.777454
16     NaN      67.067155      170.867906
17     NaN      63.867992      128.475319
18     NaN      69.034243      163.852461
19     NaN      61.944246      113.649103
20     NaN      70.000000      200.000000

In [44]:
df.loc[:10,'Gender'] = 'Male'
df.loc[11:,'Gender'] = 'Female'
df['비만도']='정상'
df

    Gender  Height (Inch)  Weight (Pound) 비만도
ID
0     Male      73.847017      241.893563  정상
1     Male      70.000000      200.000000  정상
2     Male      74.110105      212.740856  정상
3     Male      71.730978      220.042470  정상
4     Male      69.881796      206.349801  정상
5     Male      67.253016      152.212156  정상
6     Male      68.785081      183.927889  정상
7     Male      68.348516      167.971110  정상
8     Male      67.018950      175.929440  정상
9     Male      63.456494      156.399676  정상
10    Male      71.195382      186.604926  정상
11  Female      62.636675      102.853563  정상
12  Female      62.077832      138.691680  정상
13  Female      60.030434       97.687432  정상
14  Female      59.098250      110.529686  정상
15  Female      66.172652      136.777454  정상
16  Female      67.067155      170.867906  정상
17  Female      63.867992      128.475319  정상
18  Female      69.034243      163.852461  정상
19  Female      61.944246      113.649103  정상
20  Female      70.000000      200.000000  정상